<body>
    <h1>Tambah Data</h1>
    <form name="form1" method="POST" action="/add">
    <table>
        <tr>
        <td>Name</td>
        <td><input type="text" name="name" ></td>
        </tr>
        <tr>
        <tr>
        <td>Username</td>
        <td><input type="text" name="username" ></td>
        </tr>
        <tr>
        <tr>
        <td>Password</td>
        <td><input type="password" name="password" ></td>
        </tr>
        <tr>
        <td>Alamat</td>
        <td><input type="text" name="alamat" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>   
    
</body>